.desc{
    color:rgb(0, 0, 0);
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .sidebar-contentah{    
    height: 10%;
     width: 100%;
     background-image: url('https://res.cloudinary.com/ddlw9iej1/image/upload/v1708685471/pic2_xgoued.jpg');
  } 
  .homead {
     display: flex;
     flex-direction: column;
     height: 100vh;
   }
   
   .sidebar-contentah{
     display: flex;
     flex: 1; /* Allow the sidebar and card section to take up remaining space */

   }
  .sectionh:last-child {
    border-right: none; /* Remove right border from the last section */
  }
  
   .cardSectionad{
    display: block;
   } 
   .cardad{
     margin-top: 20%;
     margin-left: 25%;
     background-color: rgba(139, 127, 127, 0.5); /* 0.5 alpha for 50% transparency */
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     width: 60%;
     padding: 5%;
   }
   
   .fot{
    margin-top: 4%;
    margin-left: -1.8%;
   }
   .card-body {
     padding: 5%;
   }
   